.medschedule{
  h1{
    font-family: fantasy;
    font-size: 5vh;
    margin:auto;
    width:100%;
    text-align: center;
    margin-top:3vh;
  }
  button{
    font-size:1.5vh;
    color:white;
    background-color: #6b9ac4;
    border-radius: 1vh;
    padding:1vh;
    margin:1vh;
  }
  form{
    display: inline-flex;
    // width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  ul{
    font-size: 2vh;
    border: 12px black;
    
    li{
      background-color: #f4b942;
      padding:1vh;
      width: 30%;
    }
  }

}
// .listitems{
//   // height: 100vh;
//   // overflow:scroll;
//   display: inline-flex;
//   width: 200px;
//   flex-direction: column;
//   form{
//     color:red;
//     background-color: red;
//   }
//   label{
//     color:red;
//     background-color: red;
//   }

// }