// $primary-color:#4059ad;
$primary-color:#005983;

.nav{
  font-size:2vh;
  font: cursive;
  background-color: $primary-color;
  height: 12vh;
  button{
      color:rgb(77, 72, 72);
      // background-color: #6b9ac4;
      background-color: #b3d9ff;
      border-radius: 1vh;
      padding:.5vh;
      margin:1vh;

  }
}
